:root{
    --white: #fff;
    --black: #000;
    --grey: #535353;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--white);
    font-family: sans-serif;
    overflow-x: hidden;
}

ul{ list-style: none; }

a{
    text-decoration: none;
    color: var(--black);
}

/*USPS CSS*/

.announcement{
    background: var(--black);
    color: var(--white);
    padding: 16px 0;
    position: relative;
}

.animated{
    display: flex;
    justify-content: space-between;
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}


/*USPS CSS END*/
